/*стидизация тела сайта*/
body {
  background: #170027;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  text-align: center;
}
/*стилизация основных кнопок меню*/
#newGame, #historyBtn, #recordsBtn, #optionsBtn {
  text-align: center ;
  vertical-align: middle;
  border: 2px solid rgba(200, 238, 200, 0.24);
  border-radius: 7px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.596);
  font-size: 30px;
  font-family: "Roboto";
  width: 7em;
  margin: 10px auto;
}
/*основная надпись */
#theHead {
  margin: auto;
  margin-top: 200px;
  color: rgba(255, 255, 255, 0.596);
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
}
/*оформление дополнительных страничек*/
#history, #records, #options {
  margin: auto;
  color: rgba(255, 255, 255, 0.719);
  font-size: 20px;
  font-family: "Roboto";
  display: none;
  background-color: inherit;
}
/*стилизую отдельно кнопку назад*/
#backBtn {
  display: none;
  text-align: center;
  vertical-align: middle;
  border: 2px solid rgba(200, 238, 200, 0.24);
  border-radius: 7px;
  background-color: transparent;
  color: #ffffff98;
  font-size: 30px;
  font-family: "Roboto";
  width: 7em;
  margin: 10px auto;
}
/*символика использованная при создании игры
она находится в таблице на страничке options*/
/*квадратик обозначающий цвет моря*/
#sea {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-color: #71369b;
  border: #FFFFFF;
  border-width: 5px;
}
/*квадратик обозначающий цвет суши*/
#ground{
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
}
/*квадратик обозначающий Xonix(персонажа, которым управляет пользователь)*/
#xon{
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background-color: #2c15f8;
}
/*квадратик обозначающий след, оставляемый Xonix при движении*/
#xon-tale{
  margin-left: 10px;
  height: 20px;
  width: 40px;
  background-color: #808080;
}
/*квадратик обозначающий морского монстра*/
#sea-mon{
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background-color: #FF7400;
}
/*квадратик обозначающий сухопутного монстра*/
#gr-mon{
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background-color: #b12810;
}
/*квадратик обозначающий монстра-удалителя*/
#boom-mon{
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background-color: #FF0086;
}
/*изображение кнопок, управления Xonix*/
#upBtn, #leftBtn, #dovnBtn, #rightBtn{
  color: #FFFFFF;
  margin-left: 40px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: 2px solid rgba(200, 238, 200, 0.24);
  background-color: transparent;
  font-weight: bold;
  font-size: 30px;
  font-family: "Roboto";
}
/*пробел*/
#space{
  margin-left: 10px;
  height: 60px;
  width: 120px;
  border-radius: 5px;
  border-radius: 5px;
  border: 2px solid rgba(200, 238, 200, 0.24);
  background-color: transparent;
  color: #FFFFFF;
  font-size: 30px;
}
/*стилизация таблицы и её элементов*/
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: transparent;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: rgba(255, 255, 255, 0.596);
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: rgb(255, 255, 255);
}
/*игровые canvas-элементы*/
#wrapper {
  width: 800px;
  height: 540px;
  position:relative;
  margin: auto;
}
/*канвас с жизнями, счётом и процентом заполнения поля*/
#apperCanvas1 {
  position: auto;
  top: 0;
}
/*главный канвас, в нём отрисована сама игра*/
#mainCanvas {
  position: auto;
  top: 30px;
}
/*канвас с отображением уровня и временем*/
#apperCanvas2 {
  position: auto;
  bottom: 0;
}
